<h1>PATIENTS</h1>

<div id="patients-container">

  <div id="form-container">
    <form id="patient-submit-form" action="/patientform" method="post">
      <input class="form-input" type="text" name="[patient]firstname" value="" placeholder="First Name">
      <input class="form-input" type="text" name="[patient]lastname" value="" placeholder="Last Name">
      <input class="form-input" type="text" name="[emr]diagnosis" value="" placeholder="Diagnosis">
      <input class="form-input" type="text" name="[emr]prognosis" value="" placeholder="Prognosis">
      <button id="submit-button" type="submit">Add Patient</button>
    </form>
  </div>


  <div id="patient-info-container">
    <p>Patients:</p>
    <% @patients.each do |patient| %>
      <div class="patient-line" id="<%= patient.id %>">
        <p class="patient-name-display"><%= patient.firstname %> <%= patient.lastname %></p>
        <a href="/patientupdate/<%= patient.id %>">Update
        </a>
        <a href="/deletepatient/<%= patient.id %>">
          <button type="button" name="button">Delete</button>
        </a>
      </div>
    <% end %>
  </div>

    <div id="patient-detail">

    </div>

</div>
